@import url(style.css);

.title {
    height: 150px;
    width: 100%;
    padding: 30px 50px 0 0;
    display: flex;
    align-items: center;
}

h1 {
    padding-left: 50px;
    padding-right: 80px;
    font-size: 64px;
    font-style: italic;
    color: #F5F5F5;
    background-color: #FF5C00;
    clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%);
}

.agents-display {
    width: 100%;
    max-width: 1440px;
    padding: 0 20px;
    gap: 30px;
    row-gap: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.agents-link {
    height: 400px;
    width: 260px;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease;
}

.card {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    clip-path: polygon(20% 0%, 100% 0, 100% 90%, 80% 100%, 0 100%, 0% 10%);
    transition: transform 0.3s ease;
}

.portrait {
    height: 85%;
    width: 100%;
    padding: 5px;
    display: flex;
    background: linear-gradient(to top, #1A1A1A, transparent);
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.roles {
    width: 100%;
    position: absolute;
    z-index: -1;
}

.roles-img {
    width: 300px;
    transform: translateX(-20px) translateY(-20px);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card:hover .roles-img {
    opacity: 0.8;
}

.agents-img {
    height: 250%;
    transform: translateY(300px);
    transition: height 0.3s ease, transform 0.3s ease;
}

#gekko {
    transform: translateY(170px) scale(0.8);
    transition: height 0.3s ease, transform 0.3s ease;
}

#harbor {
    transform: translateY(300px) translateX(-30px);
    transition: height 0.3s ease, transform 0.3s ease;
}

#deadlock {
    transform: translateY(300px) translateX(50px);
    transition: height 0.3s ease, transform 0.3s ease;
}

.agents-link:hover {
    transform: scale(1.05);
}

.card:hover .agents-img {
    height: 160%;
    transform: translateY(150px);
}

.card:hover #gekko {
    height: 150%;
    transform: translateY(100px) translateX(-15px);
}

.card:hover #harbor {
    height: 160%;
    transform: translateY(150px) translateX(-20px);
}

.card:hover #deadlock {
    height: 160%;
    transform: translateY(150px) translateX(30px);
}

.name {
    height: 15%;
    width: 100%;
    padding-left: 20px;
    display: flex;
    align-items: center;
    background-color: #F5F5F5;
}

.name-text {
    color: #FF5C00;
    font-weight: 700;
    font-size: 32px;
}

.background {
    height: 100vh;
    width: 100%;
    max-width: 1440px;
    max-height: 1200px;
    top: 60px;
    z-index: -1;
    opacity: 0.3;
    position: fixed;
    overflow: hidden;
    background-image: url(../Assets/Images/Agents/Agents-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

footer {
    position: relative;
    z-index: 5;
    background-color: #1A1A1A;
}

.space {
    height: 50px;
    width: 100%;
}

@media (max-width: 768px) {
    h1 {
        font-size: 48px;
    }

    .agents-link {
        height: 300px;
        width: 200px;
    }
    
    .card {
        height: 100%;
        width: 100%;
        flex: 1 1 calc(50% - 10px); /* 2 card dalam satu baris pada layar kecil */
    }

    .agents-img {
        height: 250%;
        transform: translateY(230px);
        transition: height 0.3s ease, transform 0.3s ease;
    }
    
    #gekko {
        transform: translateY(150px) scale(0.8);
        transition: height 0.3s ease, transform 0.3s ease;
    }
    
    #harbor {
        transform: translateY(210px) translateX(-30px);
        transition: height 0.3s ease, transform 0.3s ease;
    }
    
    #deadlock {
        transform: translateY(230px) translateX(40px);
        transition: height 0.3s ease, transform 0.3s ease;
    }

    .card:hover .agents-img {
        height: 160%;
        transform: translateY(100px);
    }
    
    .card:hover #gekko {
        height: 140%;
        transform: translateY(70px) translateX(-15px);
    }
    
    .card:hover #harbor {
        height: 160%;
        transform: translateY(90px) translateX(-20px);
    }
    
    .card:hover #deadlock {
        height: 150%;
        transform: translateY(90px) translateX(20px);
    }
    
    .roles-img {
        width: 140%;
        transform: translateX(-40px);
    }

    .name-text {
        font-size: 28px;
    }
}

@media (max-width: 480px) {
    .title {
        height: 120px;
    }

    h1 {
        font-size: 32px;
        
    }

    .agents-link {
        width: 90%;
    }

    .agents-img {
        height: 250%;
        transform: translateY(200px);
        transition: height 0.3s ease, transform 0.3s ease;
    }
    
    #gekko {
        transform: translateY(100px) scale(0.8);
        transition: height 0.3s ease, transform 0.3s ease;
    }
    
    #harbor {
        transform: translateY(170px) translateX(-30px);
        transition: height 0.3s ease, transform 0.3s ease;
    }
    
    #deadlock {
        transform: translateY(200px) translateX(40px);
        transition: height 0.3s ease, transform 0.3s ease;
    }
}