@import url(style.css);

.background {
    padding-top: 5vw;
    background-image: url(../Assets/Images/Agents/Agents-bg.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.container {
    height: 35vw;
    display: flex;
    padding-top: 50px;
    position: relative;
}

.left {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start;
}

.left-container {
    width: 80%;
    display: flex;
    justify-content: left;
}

.right {
    height: 100%;
    width: 20%;
    justify-content: center;
    position: relative;
}

.symbol-bg {
    position: absolute;
    left: 35%;
    width: 30vw;
    filter: invert(100%);
    z-index: -1;
    opacity: 0.1;
    transform: rotate(16deg) scale(1.4);
}

.name {
    padding: 0 15% 0 60px;
    font-size: clamp(12px, 5vw, 64px);
    line-height: 140%;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: right;
    clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
    background-color: #FF5C00;
}

.desc {
    margin-left: 20%;
    padding: 3% 15% 3% 90px;
    display: flex;
    align-items: center;
    text-align: right;
    clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
    background-color: #c5c5c5;
}

.card-p, .skill-desc {
    font-size: clamp(12px, 1.5vw, 18px);
    line-height: 120%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: #1A1A1A;
}

.role {
    height: 2.5vw;
    gap: 10px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 35px;
    clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 10% 100%);
    background-color: black;
}

.symbol {
    height: 60%;
}

.role-text {
    color: #c5c5c5;
    font-weight: 500;
    font-size: 2vw;
    line-height: 17px;
}

.portrait {
    width: 35%;
    height: 100%;
    z-index: 1;
    right: 0;
    bottom: 0;
    position: absolute;
    overflow: hidden;
    justify-content: center;
}

.portrait-img {
    height: 140%;
}

#gekko {
    transform: translateY(-10%);
}

#harbor {
    transform: translateX(-5%);
}

.skills-container {
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    position: relative;
}

.card {
    padding: 11px 10px;
    margin: 0 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(15% 0%, 100% 0, 100% 85%, 85% 100%, 0 100%, 0% 15%);
    background-color: #1A1A1A;
}

.content {
    clip-path: polygon(15% 0%, 100% 0, 100% 85%, 85% 100%, 0 100%, 0% 15%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #F5F5F5;
}

.card-divider {
    height: 10px;
    width: 100%;
    background-color: #FF5C00;
}

.card-top {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-top-right {
    width: 40vw;
    height: 100%;
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill-name {
    font-size: clamp(8px, 2.5vw, 28px);
    color: #FF5C00;
}

.skill-desc {
    font-size: clamp(8px, 1.4vw, 18px);
    line-height: 120%;
    text-align: center;
}

.card-top-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-video {
    height: 25vw;
    max-height: 300px;
    left: 0;
}

.card-bottom {
    height: 8vw;
    max-height: 150px;
    width: 100%;
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #2A2A2A;
}

.buttons {
    height: 100%;
    width: 24%;
    transform: skew(-15deg);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1A1A1A;
}

.buttons::after {
    content: "";
    position: absolute;
    height: 0%;
    width: 100%;
    bottom: 0;
    z-index: -1;
    background-color: #3A3A3A;
    transition: height 0.1s ease-in-out;
}

.buttons.active::after {
    height: 100%;
}

.skill-icon {
    height: 70%;
    transform: skew(15deg);
    transition: transform 0.1s ease;
}

.buttons:hover .skill-icon {
    transform: skew(15deg) scale(1.1);
}

@media (max-width: 768px) {
    .background {
        row-gap: 20px;
    }

    .card-top {
        height: auto;
        flex-direction: column;
    }

    .skill-video {
        height: auto;
        max-height: 500px;
        width: 75vw;
        left: 0;
    }

    .skill-name {
        line-height: 100%;
        font-size: clamp(8px, 5vw, 48px);
        color: #FF5C00;
    }
    
    .skill-desc {
        font-size: clamp(8px, 2vw, 32px);
        line-height: 120%;
        text-align: center;
    }

    .card-top-right {
        width: 70vw;
        height: 30vw;
        flex: none;
        padding: 20px;
        row-gap: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-bottom {
        height: 70px;
    }

    .container {
        height: 300px;
    }

    .left {
        height: 100%;
        width: 100%;
        padding: 0 12%;
        display: flex;
        flex-direction: ceolumn;
        align-items: end;
        justify-content: end;
    }
    
    .left-container {
        width: 100%;
        display: flex;
        justify-content: right;
    }
    
    .right {
        height: 100%;
        width: 0%;
        justify-content: center;
        position: relative;
    }
    
    .symbol-bg {
        position: absolute;
        width: 40vw;
        left: 30%;
        filter: invert(100%);
        z-index: -1;
        opacity: 0.1;
        transform: rotate(16deg) scale(1.4);
    }
    
    .name {
        padding: 0 10% 0 10%;
        font-size: clamp(12px, 5vw, 64px);
        line-height: 140%;
        z-index: 1;
        font-style: italic;
        display: flex;
        align-items: center;
        justify-content: right;
        clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
        background-color: #FF5C00;
    }
    
    .desc {
        margin: 0;
        padding: 3% 0 3% 10%;
        z-index: 1;
        display: flex;
        align-items: center;
        text-align: right;
        clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
        background-color: #c5c5c5;
    }

    .card-p {
        width: 90%;
    }

    .role {
        height: 20px;
        gap: 10px;
        padding-right: 5%;
        display: flex;
        align-items: center;
        justify-content: left;
        padding-left: 5%;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 10% 100%);
        background-color: black;
    }
    
    .symbol {
        height: 60%;
    }
    
    .role-text {
        color: #c5c5c5;
        font-weight: 500;
        font-size: 2vw;
        line-height: 17px;
    }

    .portrait {
        right: auto;
        left: 120px;
        bottom: 20px;
        z-index: 0;
        display: flex;
        justify-content: center;
    }

    .portrait-img {
        transform: translateY(30px);
    }

    #gekko {
        height: 110%;
        transform: translateY(0) translateX(-20px);
    }
    
    #harbor {
        height: 120%;
        transform: translateY(40px) translateX(5%);
    }
}

@media (max-width: 480px) {
    .card-top {
        height: auto;
        flex-direction: column;
    }

    .skill-video {
        height: auto;
        max-height: 500px;
        width: 90vw;
        left: 0;
    }

    .skill-name {
        line-height: 100%;
        font-size: clamp(8px, 6vw, 48px);
        color: #FF5C00;
    }
    
    .skill-desc {
        font-size: clamp(8px, 2.5vw, 32px);
        line-height: 120%;
        text-align: center;
    }

    .card-top-right {
        width: 85vw;
        height: 40vw;
        flex: none;
        padding: 20px;
        row-gap: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-bottom {
        height: 50px;
    }

    .container {
        height: 250px;
    }

    .left {
        padding: 0 5%;
    }

    .portrait {
        left: 90px;
    }

    #harbor {
        height: 120%;
        transform: translateY(40px) translateX(-5%);
    }
}