@import url(style.css);

.maps {
    height: auto;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../Assets/Images/Home/News_bg.png);
}

.title {
    height: 150px;
    width: 100%;
    padding: 30px 50px 0 0;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

h1 {
    padding-left: 50px;
    padding-right: 80px;
    font-size: 64px;
    font-style: italic;
    color: #F5F5F5;
    background-color: #FF5C00;
    clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%);
}

.accordion-wrapper {
    height: auto;
    width: 100%;
    padding: 30px 80px;
    display: flex;
    align-items: center;
    background-color: #1A1A1A;
}

.line {
    height: 10px;
    width: 100%;
    background-color: #FF5C00;
}

.blank {
    height: 50px;
    width: 100%;
}

.image-accordion {
    height: auto;
    width: 100%;
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.panel {
    flex: 1;
    height: 410px;
    transform: skewX(-7deg);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: flex 0.5s ease;
}

.panel-img {
    width: auto;
    height: 700px;
    transform: translateY(-90px);
    position: translate;
    object-fit: contain;
    transition: transform 0.5s ease, height 0.5s ease;
}

.panel-hint {
    bottom: 10px;
    right: 0px;
    padding: 5px 20px;
    font-size: 20px;
    z-index: 2;
    opacity: 0;
    font-style: italic;
    position: absolute;
    color: transparent;
    color: #F5F5F5;
    background-color: #FF5C00;
    clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 0% 100%);
    transition: opacity 0.2s ease-in-out;
}

.panel.active .panel-hint {
    opacity: 1;
}

.panel.active {
    flex: 3;
}

.panel.active .panel-img {
    height: 520px;
    transform: translateY(50px);
}

.image-accordion .panel:not(.active) {
    flex: 0.5;
}

@media (max-width: 768px) {
    h1 {
        font-size: 48px;
    }

    .title {
        height: 150px;
        padding: 30px 50px 0 0;
        margin-bottom: 0px;
    }

    .image-accordion {
        height: auto;
        width: 100%;
        gap: 5px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        display: grid;
        gap: 5px;
        grid-template-rows: repeat(auto-fit, minmax(75px, 1fr));
    }
    
    .panel {
        flex: 1;
        height: 75px;
        width: 95vw;
        transform: skewX(-7deg);
        position: relative;
        display: flex;
        align-items: start;
        justify-content: center;
        overflow-y: hidden;
        transition: height 0.5s ease;
    }
    
    .panel-img {
        width: 700px;
        height: auto;
        transform: translateY(0px);
        object-fit: cover;
        transition: transform 0.5s ease, height 0.5s ease;
    }
    
    .panel-hint {
        bottom: 10px;
        padding: 5px 20px 5px 20px;
        font-size: 20px;
        z-index: 2;
        opacity: 0;
        font-style: italic;
        position: absolute;
        color: transparent;
        color: #F5F5F5;
        background-color: #FF5C00;
        clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 0% 100%);
        transition: opacity 0.2s ease-in-out;
    }
    
    .panel.active .panel-hint {
        opacity: 1;
    }
    
    .panel.active {
        height: 250px;
    }
    
    .panel.active .panel-img {
        height: auto;
        transform: translateY(0px);
    }
    
    .image-accordion .panel:not(.active) {
        flex: 0.5;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 32px;
    }

    .title {
        height: 120px;
        padding: 40px 50px 0 0;
        margin-bottom: 0px;
    }

    .image-accordion {
        grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
    }

    .panel {
        height: 50px;
    }

    .panel-img {
        width: 500px;
    }
}