@import url(style.css);

.news {
    width: 100%;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../Assets/Images/Home/News_bg.png');
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
}

.title {
    height: 150px;
    width: 100%;
    padding: 30px 50px 0 0;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.news-title {
    padding-left: 50px;
    padding-right: 80px;
    font-size: 64px;
    font-style: italic;
    color: #F5F5F5;
    background-color: #FF5C00;
    clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%);
}

.card-container {
    height: auto;
    width: 100%;
    padding: 0 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    padding: 0 2rem;
}

.news-link {
    width: 30%;
    min-width: 320px;
    height: 340px;
}

.ncard {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #2A2A2A;
    display: flex;
    transition: transform 0.3s ease;
}

.card-container:hover .ncard:hover {
    transform: scale(1.05);
}

.left-bar {
    height: 100%;
    width: 10px;
    background-color: #FF5C00;
}

.news-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.news-img {
    padding: 10px 0;
    width: 95%;
}

.news-text {
    height: 40%;
    width: 95%;
    row-gap: 10px;
    display: flex;
    flex-direction: column;
}

.news-heading {
    width: 100%;
    font-weight: 600;
    font-size: 130%;
    line-height: 100%;
}

.news-info {
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
}

.news-category {
    bottom: 0;
    height: 10%;
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ncategory {
    color: #FF5C00;
    font-weight: 500;
    font-size: 16px;
}

.ndate {
    font-size: 12px;
}

@media (max-width: 768px) {
    .title {
        margin-top: 20px;
        height: 100px;
    }

    .news-title {
        padding-left: 50px;
        padding-right: 80px;
        font-size: 48px;
        font-style: italic;
        color: #F5F5F5;
        background-color: #FF5C00;
        clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%);
    }

    .news-link {
        height: 44vw;
        width: 40vw;
        min-width: 0;
    }

    .news-heading {
        font-size: 3vw;
    }

    .news-info {
        font-size: 2.3vw;
    }

    .ncategory {
        font-size: 2vw;
    }

    .ndate {
        font-size: 1.7vw;
    }
}

@media (max-width: 480px) {
    .title {
        height: 80px;
    }

    .news-title {
        font-size: 32px;
    }

    .news-link {
        height: 88vw;
        width: 90vw;
        min-width: 0;
    }

    .news-heading {
        font-size: 5.5vw;
    }

    .news-info {
        font-size: 4vw;
    }

    .ncategory {
        font-size: 4vw;
    }

    .ndate {
        font-size: 3vw;
    }
}