* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

body {
    background-color: #0e0e0e;
    font-family: 'Prompt', sans-serif;
    color: #f5f5f5;
}

.navbar-placeholder {
    width: 100%;
    height: 65px;
}

.navBar {
    padding: 0 2rem;
    top: 0;
    width: 100%;
    height: 65px;
    gap: 0 1rem;
    z-index: 50;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    background-color: #1A1A1A;
    position: fixed;
}

.left-nav, .right-nav {
    width: 38%;
    padding: 0 1rem;
    gap: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.center-nav {
    width: 10%;
    margin: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-language {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.giot-img {
    height: 30px;
    width: auto;
    cursor: pointer;
}

.giot-fill {
    fill: #f5f5f5;
    transition: fill ease 0.3s;
}

.giot-fill:hover {
    fill: #FF5C00;
}

.logo-img {
    height: 60px;
    z-index: 100;
    top: 15px;
    width: auto;
    position: fixed;
    left: 50.5%;
    transform: translateX(-50.5%);
    cursor: pointer;
}

.logo-fill {
    fill: #f5f5f5;
    transition: fill ease 0.3s;
}

.logo-fill:hover {
    fill: #FF5C00;
}

.lang-img {
    height: 20px;
    width: auto;
    cursor: pointer;
}

.lang-fill path {
    fill: #f5f5f5;
    transition: fill ease 0.3s;
}

.lang-fill:hover path {
    fill: #FF5C00;
}

.bar {
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 5;
    position: fixed;
}

.bar-img {
    height: 5px;
    width: 95%;
    display: block;
}

.emblem-img {
    height: 120px;
    width: auto;
    top: -12px;
    z-index: 10;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

.play-btn {
    background-color: #FF5C00;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    font-family: 'Prompt', sans-serif;
    font-weight: 500;
    cursor: pointer;
    border-radius: 4px;
    transition: color 0.3s ease;
}

.play-btn:hover {
    color: black;
}

a {
    color: #f5f5f5;
    text-decoration: none;
    font-family: 'Prompt', sans-serif;
    font-weight: 500;
    transition: color 0.2s ease;
}

a:hover {
    color: #FF5C00;
}

.divider {
    height: 25px;
    width: 100%;
    display: flex;
    background-color: #1A1A1A;
    align-items: center;
}

.line {
    height: 5px;
    width: 100%;
    background-color: #FF5C00;
}

.landing {
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../Assets/Images/Landing_bg.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.palorant-img {
    width: 35%;
    margin-bottom: 10px;
    height: auto;
    filter: drop-shadow(0 0 10px #1A1A1A);
}

.landing-desc {
    text-align: center;
    margin-bottom: 0.5rem;
    font-family: 'Prompt', sans-serif;
    font-size: 1.2rem;
    font-weight: 100;
    text-shadow: 0 0 8px #1A1A1A;
}

.landing-btns {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding-top: 2rem;
}

.btn-play {
    border: none;
    padding: 0.5rem 2rem;
    font-weight: bold;
    color: #f5f5f5;
    font-family: 'Prompt', sans-serif;
    cursor: pointer;
    clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
    background-color: #FF5C00;
    transition: color 0.3s ease;
    transition: transform 0.3s ease;
}

.btn-play:hover {
    color: #1A1A1A;
    transform: scale(1.2);
}

.btn-learn {
    border: none;
    padding: 0.5rem 2rem;
    font-weight: bold;
    color: #FF5C00;
    font-family: 'Prompt', sans-serif;
    cursor: pointer;
    clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
    background-color: #f5f5f5;
    transition: color 0.3s ease;
    transition: transform 0.3s ease;
}

.btn-learn:hover {
    color: #1A1A1A;
    transform: scale(1.2);
}



.news {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../Assets/Images/News_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ntitle-container {
    width: 100%;
    padding: 1rem 2rem 0 2rem;
    font-size: 28px;
    font-weight: 300;
    display: flex;
}

.news-title {
    font-weight: 500;
}

.card-container {
    height: 55vh;
    width: 100%;
    padding: 0 2rem;
    gap: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ncard {
    height: 350px;
    width: 100%;
    background-color: #2A2A2A;
    display: flex;
    transition: transform 0.3s ease;
}

.card-container:hover .ncard {
    transform: scale(0.9);
}

.card-container:hover .ncard:hover {
    transform: scale(1.05);
}

.card-container:hover .ncard:active {
    transform: scale(0.95);
}

.left-bar {
    height: 350px;
    width: 10px;
    background-color: #FF5C00;
    display: flex;
}

.news-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.news-img {
    height: auto;
    width: 90%;
}

.news-text {
    padding: 20px 5%;
    align-items: center;
    justify-content: center;
}

.news-heading {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 10px;
    line-height: 20px;
}

.news-info {
    font-size: 16px;
    line-height: 16px;
}

.news-category {
    width: 100%;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
}

.ncategory {
    color: #FF5C00;
    font-weight: 500;
}

.ndate {
    font-size: 12px;
}



.season {
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: right;
    background-image: url('../Assets/Images/Season_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.season-wrapper {
    width: 50%;
    margin-bottom: 60px;
    margin-right: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: right;
    text-align: right;
}

.season-heading {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 4.5rem;
    text-shadow: 0 0 25px black;
}

.season-text {
    font-size: 1.5rem;
    padding: 1rem 0;
}

.season-btn {
    border: none;
    padding: 0.5rem 2.2rem;
    font-size: 1rem;
    font-weight: bold;
    color: #FF5C00;
    font-family: 'Prompt', sans-serif;
    cursor: pointer;
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    background-color: #f5f5f5;
    transition: color 0.3s ease;
    transition: background-color 0.3s ease;
    transition: transform 0.3s ease;
}

.season-btn:hover {
    color: #f5f5f5;
    background-color: #FF5C00;
    transform: scale(1.2);
}


.identity {
    height: 85vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    background-image: url('../Assets/Images/Identity_bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.identity-container {
    height: 85vh;
    width: 47%;
}

.identity-top, .identity-bottom {
    height: 17vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
}

.identity-center {
    height: 51vh;
    width: 100%;
    padding-right: 50px;
    display: flex;
    justify-content: right;
    text-align: right;
    flex-direction: column;
}

.identity-weare {
    font-size: clamp(1.5rem, 3vw, 3rem);
    font-style: italic;
    font-weight: 500;
}

.identity-weare-container {
    justify-content: right;
}

.identity-palorant {
    width: 85%;
}

.identity-desc-container {
    padding-top: 25px;
}

.identity-text {
    font-size: clamp(1rem, 1.34vw, 5rem);
    font-weight: 400;
}

.identity-btn-container {
    width: 100%;
    padding-top: 25px;
    display: flex;
    justify-content: flex-end;
}

.identity-btn {
    padding: 0.4rem 3.2rem 0.4rem 2.5rem;
    font-size: 1.3rem;
    font-weight: 800;
    display: flex;
    border: none;
    color: #f5f5f5;
    cursor: pointer;
    clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
    background-color: #FF5C00;
    transition: color 0.3s ease;
    transition: background-color 0.3s ease;
    transition: padding 0.3s ease;
}

.identity-btn:hover {
    color: #FF5C00;
    background-color: #f5f5f5;
    padding-right: 6rem;
}


.agents {
    height: 85vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../Assets/Images/Agents_bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.agents-left {
    height: 85vh;
    width: 42%;
    color: black;
    z-index: 20;
}

.agents-portrait {
    height: 100%;
}

.agents-right {
    height: 85vh;
    width: 58%;
    padding-left: 35px;
    gap: 23px;
    justify-content: flex-start;
    display: flex;
    overflow: hidden;
}

.agents-card {
    transition: opacity 0.3s ease;
}

#jett, #phoenix {
    transform: scale(1.1) translateY(-70px) rotate(-7deg);
}

#chamber, #omen {
    transform: scale(1.1) translateY(70px) translateX(17px) rotate(-7deg);
}

.agents-card.dimmed {
    opacity: 0.5;
}

/* #jett:hover, #phoenix:hover {
    transform: scale(1.15) translateY(-50px) translateX(3px) rotate(-7deg);
}

#chamber:hover, #omen:hover {
    transform: scale(1.15) translateY(90px) translateX(19px) rotate(-7deg);
} */

.agents-left-top, .agents-left-bottom {
    height: 17vh;
    width: 100%;
}

.agents-left-center {
    height: 51vh;
    width: 100%;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.agents-meetyour {
    width: 100%;
    font-size: clamp(1.5rem, 3vw, 3rem);
    font-weight: 500;
    line-height: clamp(1.5rem, 3vw, 3rem);
    color: #1A1A1A;
    text-align: left;
    font-style: italic;
}

.agents-title {
    width: 100%;
    font-size: clamp(1.5rem, 8.5vw, 8rem);
    font-weight: 700;
    line-height: clamp(1.5rem, 8.5vw, 8rem);
    color: #FF5C00;
    text-align: left;
    font-style: italic;
}

.agents-desc {
    width: 100%;
    padding-top: 20px;
    font-size: clamp(1rem, 1.45vw, 5rem);
    font-weight: 400;
}

.agents-left-bottom {
    width: 100%;
    padding-bottom: 25px;
    align-items: center;
    display: flex;
}

.agents-btn {
    padding: 0.4rem 3.2rem 0.4rem 3.2rem;
    font-size: 1.3rem;
    font-weight: 800;
    display: flex;
    border: none;
    color: #f5f5f5;
    cursor: pointer;
    clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
    background-color: #FF5C00;
    transition: color 0.3s ease;
    transition: background-color 0.3s ease;
    transition: padding 0.3s ease;
}

.agents-btn:hover {
    color: #FF5C00;
    background-color: #f5f5f5;
    padding-left: 6rem;
}


.maps {
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.maps-right {
    width: 30%;
    height: 100%;
}

.maps-bg {
    height: 80vh;
    position: absolute;
    right: 0;
    z-index: 20;
}

.image-accordion {
    display: flex;
    width: 70%;
    height: 74vh;
    gap: 5px;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
}

.panel {
    flex: 1;
    height: 600px;
    transform: skewX(-7deg);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: flex 0.5s ease;
}

.panel img {
    width: auto;
    height: 700px;
    transform: translateY(-100px);
    position: translate;
    object-fit: contain;
    transition: transform 0.5s ease, height 0.5s ease;
}

/* .panel:hover {
    flex: 3;
}

.panel:hover img {
    height: 520px;
    transform: translateY(0);
}

.image-accordion:hover .panel:not(:hover) {
    flex: 0.5;
}   */

/* Panel aktif membesar */
.panel.active {
    flex: 3;
}

/* Gambar di panel aktif naik */
.panel.active img {
    height: 520px;
    transform: translateY(0);
}

/* Panel lain jadi kecil */
.image-accordion .panel:not(.active) {
    flex: 0.5;
}

.mobile-app {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}